/* .container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px,auto;
}
.container > div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
}
.container > div > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
} */
